body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
pre {
    margin: 0;
}
#viewport {
  width: 800px;
  height: 600px;
  background-color: black;
  border-radius: 5px;
  position: relative; /* needed to position 2d-ui elements */ 
}
#timeline {
  height: 60px;
  width: 800px;
  background-color: gray;
  border-radius: 5px;
}
#cursor {
  width: 2px;
  height: 60px;
  background-color: red;
  position: relative;
}
#scene-properties {
  background-color: aliceblue;
}
#scene-controls {
  background-color: antiquewhite;
}
#character-controls {
  background-color: aquamarine;
}
#dialog-controls {
  background-color: azure;
}
#result {
  background-color: beige;
}
